@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.nav-menu {
   display: block;
   height: 60px;
   width: 100%;
   background-color: black;
   padding-top: 2%;
   margin-bottom: 20px;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

.nav-links li a {
   text-decoration: none;
   color: white;
   font-size: 20px;
   text-transform: uppercase;
}

body {
   width: 1024px;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   padding: 2rem;
   background-color: #e6e2d4;
}

main {
   min-height: 500px;
   padding: 30px;
   background-color: white;
   border: 1px solid;
   box-shadow: 5px 6px 32px 1px rgba(0,0,0,0.49);
}

main h1 {
   text-align: center;
}

main .my-image img {
   float: left;
   border-radius: 10px;
}

.underline {
   width: 100%;
   height: 0.05rem;
   margin-top: 1rem;
   background-color: grey;
   margin-bottom: 1rem;
}

main h2 {
   text-align: center;
}

.education-list li {
   margin-left: 35%;
   margin-top: 17px;
}

.education-list {
   margin-bottom: 28px;
}
.summary-text {
   line-height: 30px;
}

.skills-list li {
   margin-top: 10px;
   margin-left: 2%;
}

.code {
   margin-left: -11%;
}

.contacts-list {
   list-style: none;
}

.contacts-list i {
   font-size: 20px;
}

.contacts-list li {
   margin-top: 15px;
   margin-left: 5%;
   display: inline-block;
   font-size: 20px;
}

.footer-block {
   display: flex;
}

.github {
   padding-top: 2.5%;
   background-color: black;
   width: 33.33%;
   color: white;
   font-size: 40px;
   text-align: center;
   border-radius: 10px;
}

.github a {
   text-decoration: none;
   color: white;
}

.image-rs {
   background-color: #fff;
   width: 33.33%;
}

.year {
   background-color: black;
   width: 33.33%;
}

.image-rs img {
   width: 80%;
   height: 80%;
   margin-top: 2.5%;
   margin-left: 10%;
}

.year {
   color: white;
   font-size: 40px;
   text-align: center;
   padding-top: 2.5%;
   border-radius: 10px;
}